/* ==========================================================================
My custom styles
   ========================================================================== */

@font-face {
    font-family:"Socialico";
    src:url("../fonts/Socialico.eot?") format("eot"),url("../fonts/Socialico.woff") format("woff"),url("../fonts/Socialico.ttf") format("truetype"),url("../fonts/Socialico.svg#Socialico") format("svg");
    font-weight:normal;
    font-style:normal;

}

@font-face{
    font-family:"Stainy_PersonalUseOnly";
    src:url("../fonts/Stainy_PersonalUseOnly.ttf");
}

/*==========================header===============================*/
body{
    padding-top: 50px;
     background: rgba(152,181,225,1);
background: -moz-linear-gradient(top, rgba(152,181,225,1) 0%, rgba(171,229,240,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(152,181,225,1)), color-stop(100%, rgba(171,229,240,1)));
background: -webkit-linear-gradient(top, rgba(152,181,225,1) 0%, rgba(171,229,240,1) 100%);
background: -o-linear-gradient(top, rgba(152,181,225,1) 0%, rgba(171,229,240,1) 100%);
background: -ms-linear-gradient(top, rgba(152,181,225,1) 0%, rgba(171,229,240,1) 100%);
background: linear-gradient(to bottom, rgba(152,181,225,1) 0%, rgba(171,229,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98b5e1', endColorstr='#abe5f0', GradientType=0 );
}


 /*nav*/

.navbar{
    background: rgba(131,183,246,1);
background: -moz-linear-gradient(left, rgba(131,183,246,1) 0%, rgba(158,242,255,1) 35%, rgba(158,242,255,1) 68%, rgba(131,183,246,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(131,183,246,1)), color-stop(35%, rgba(158,242,255,1)), color-stop(68%, rgba(158,242,255,1)), color-stop(100%, rgba(131,183,246,1)));
background: -webkit-linear-gradient(left, rgba(131,183,246,1) 0%, rgba(158,242,255,1) 35%, rgba(158,242,255,1) 68%, rgba(131,183,246,1) 100%);
background: -o-linear-gradient(left, rgba(131,183,246,1) 0%, rgba(158,242,255,1) 35%, rgba(158,242,255,1) 68%, rgba(131,183,246,1) 100%);
background: -ms-linear-gradient(left, rgba(131,183,246,1) 0%, rgba(158,242,255,1) 35%, rgba(158,242,255,1) 68%, rgba(131,183,246,1) 100%);
background: linear-gradient(to right, rgba(131,183,246,1) 0%, rgba(158,242,255,1) 35%, rgba(158,242,255,1) 68%, rgba(131,183,246,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83b7f6', endColorstr='#83b7f6', GradientType=1 );
    
}


#navbar a{
    color: #000;
}

#navbar a:hover{
    background: #63bbe6;
}

    /*active menu item*/
.active{
 background: #63bbe6;
}


@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}


/*logo*/

.navbar-inverse .navbar-brand {
  font-family: "Myriad Pro";
	font-size: 30px;
	color: #fff;
}

.mini-logo{
    font-family: "Stainy_PersonalUseOnly";
	font-size: 30px;
	color: #e1290f;
}


.navbar-inverse {
  background-color:#178dcc;
  border-color: transparent;
}


/*lang*/

.lang li{
    list-style: none;
    float: left;
    margin-top: 9px;
    margin-left: 9px;
}

.lang img {
    width: 30px;
    height: 30px;
}




/* ================================= content ========================= */

@media (min-width: 768px){
    header{
        min-height: 947px;
    }
}


/*logo*/
#logo{
    font-family:"Stainy_PersonalUseOnly"; 
    font-size: 200px;
    margin-top: 50px;
    color: #e1290f;
}



h1{
    
    color: #fff;
    text-align: center;
    font-size: 100px;
}




.slug{
    font-family: "Myriad Pro";
	font-size: 30px;
	color: #686868;
    text-align: center;
}

.free-system{
    font-family: "Myriad Pro";
	font-size: 22px;
	text-transform: uppercase;
	color: #188ac6;
    margin-top: 100px;
    padding-left: 100px;
}

.free-system .btn-primary{
    background: #178dcc;
    border-color: transparent;
}

.free-system .btn-primary:hover{
    background: #63bbe6;
}

@media (min-width: 768px){
    .free-system{
        margin-top: 100px;
        padding-left: 100px;
    }
}

.view-more-btn{
   
    font-size: 22px;
	text-transform: uppercase;
	color: #fff;
    margin-top: 60px;
}


/*advantages*/

.advantages{
    background: #ececed;
}

    @media (min-width: 768px){
    .advantages{
        min-height: 1000px;
    }
}

.advantages h2{
    font-family: "Myriad Pro";
	font-size: 36px;
	color: #727272;
    text-align: center;
    margin: 105px 0 105px 0;

}

.table>tbody>tr>th, .table>tbody>tr>td {
    border-top: none;
}

.hover-icons span {
    display: block;
    width: 94px;
    height: 94px;
}


/*sprite*/
.open-code{ background: url(../images/iconsr-sprite.png) no-repeat 0 0;}
.open-code:hover{ background: url(../images/iconsr-sprite.png) no-repeat 0 -94px;}

.easy-settings{ background: url(../images/iconsr-sprite.png) no-repeat -94px 0;}
.easy-settings:hover{ background: url(../images/iconsr-sprite.png) no-repeat -94px -94px;}

.crossplatform{ background: url(../images/iconsr-sprite.png) no-repeat -188px 0;}
.crossplatform:hover{ background: url(../images/iconsr-sprite.png) no-repeat -188px -94px;}

.different-devices{ background: url(../images/iconsr-sprite.png) no-repeat -282px 0;}
.different-devices:hover{ background: url(../images/iconsr-sprite.png) no-repeat -282px -94px;}


.hover-icons p{
    font-family: "Myriad Pro";
	font-size: 18px;
	color: #686868;
    margin-top: 25px;
}


.iphone{
    margin-top: 98px;
}

/*try beta version: ;*/

@media (min-width: 768px){
        .try-beta{
            min-height: 504px;
        }
    }

.try-beta h3 {
    font-size: 30px;
	color: #178dcc;
    margin: 87px 0;
    text-align: center;
}



.try-beta .btn-primary{
    background: #178dcc;
    border-color: transparent;
}

.try-beta .btn-primary:hover{
    background: #63bbe6;
}

.try-beta canvas{
    margin: 117px 0 0 0;
}

.try-beta p{
    font-size: 20px;
	color: #686868;
    text-align: right;
}

.try-beta .custom-btn {
    width: 145px;
	height: 37px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

/* news block*/
.news{
    background: #f3f5f5;
}

     @media (min-width: 768px){
        .news{
            min-height: 407px;
        }
    }


.news h3 {
    font-size: 30px;
	color: #178dcc;
    margin: 13px 0 30px 0;
    text-align: center;
}
.news .news-items li {
     background: url(../images/new-item.png) no-repeat 7px 7px transparent;
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 1px 50px;
    vertical-align: middle;
    margin-top: 50px;
}

.news .news-items li p {
    font-size: 18px;
	color: #686868;
}


/* road map */
.road-map{
    background: #6e92c5;
    color: #fff;    
    text-align: center;
}
     @media (min-width: 768px){
        .road-map{
            min-height: 490px;
        }
    }

.road-map h3 {
    color: #fff;
    font-size: 28px;
    margin: 30px 0 50px 0;
}

.road-map li{
    font-size: 18px;
    list-style: none;
    text-align: left;
    background: url(../images/pin.png) no-repeat 7px 7px transparent;
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 1px 50px;
    vertical-align: middle;
    margin-top: 30px;
}






/*===========================================footer========================================*/
footer{
    text-align: center;
    padding: 137px 0 0 0; 
 }

     @media (min-width: 768px){
            footer{
                min-height: 351px;
            }
    }

.social-ico a{
    font-family:"Socialico";
    font-size: 42px;
    color: #53565c;
    text-decoration: none;
}

.social-ico a:hover{
    color: #178dcc;
}

footer p{
    margin-top: 73px;
}









